<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>ShivShakti Digital</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'assets/img/IMG-9.png'%}" rel="icon">
    <link href="{%static 'assets/img/apple-touch-icon.png'%}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cardo:ital,wght@0,400;0,700;1,400&display=swap"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{%static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{%static 'assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
    <link href="{%static 'assets/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">
    <link href="{%static 'assets/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
    <link href="{%static 'assets/vendor/aos/aos.css'%}" rel="stylesheet">

    <link href="{%static 'assets/css/main.css'%}" rel="stylesheet">

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid d-flex align-items-center justify-content-between">

            <a href="/" class="logo d-flex align-items-center  me-auto me-lg-0">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <!-- <img src="assets/img/logo.png" alt=""> -->
                <i class="bi bi-camera"></i>
                <h1>Shiv-Shakti Digitals</h1>
            </a>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about/" class="active">About</a></li>
                    <li class="dropdown"><a href="/gallery/"><span>Gallery</span> <i  class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            <form action="/category/" method="post">
                                {%csrf_token%}
                                <li><input type="submit" name="Engagement" value="Engagement Shoot" style="border-style: none; background-color: rgb(41, 37, 37); color: aliceblue; padding-right: 55px;">
                                </li>
                                <li><input type="submit" name="Haldi" value="Haldi Ceremony" style="border-style: none; background-color:  rgb(41, 37, 37); color: aliceblue;padding-right: 76px;">
                                </li>
                                <li><input type="submit" name="Wedding" value="Wedding Shoot" style="border-style: none; background-color:  rgb(41, 37, 37); color: aliceblue;padding-right: 83px;">
                                </li>
                                <li><input type="submit" name="PWedding" value="Pre Wedding shoot" style="border-style: none; background-color:  rgb(41, 37, 37); color: aliceblue;padding-right: 55px;">
                                </li>
                            </form>
                        </ul>
                    </li>
                    <li><a href="/services/">Services</a></li>
                    <li><a href="/contact/">Contact</a></li>
                </ul>
            </nav>
            <!-- .navbar -->

            <div class="header-social-links">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
            </div>
            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

        </div>
    </header>
    <!-- End Hero Section -->
    {%block body%} {%endblock body%}


    <footer id="footer" class="footer">
        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Shiv-Shakti Digitals</span></strong>. All Rights Reserved
            </div>
            <div class="credits">

                Designed by Rushi Deshmukh</a>
            </div>
        </div>
    </footer>
    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <div id="preloader">
        <div class="line"></div>
    </div>
    <script src="{%static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{%static 'assets/vendor/swiper/swiper-bundle.min.js'%}"></script>
    <script src="{%static 'assets/vendor/glightbox/js/glightbox.min.js'%}"></script>
    <script src="{%static 'assets/vendor/aos/aos.js'%}"></script>
    <script src="{%static 'assets/vendor/php-email-form/validate.js'%}"></script>
    <script src="{%static 'assets/js/main.js'%}"></script>

</body>

</html>