{%extends "base.html"%} {%block body%} {% load static %}

<!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade" data-aos-delay="1500">

    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <h2>I'm <span>Dnyaneshwar Pandhare</span> a Professional Photographer from Pahur City</h2>
                <P>"It's not enough to just own a camera. Everyone owns a camera. To be a photographer, you must understand, appreciate, and harness the power you hold!"</P>
                <a href="/contact/" class="btn-get-started">Available for hire</a>
            </div>
        </div>
    </div>
</section>
<!-- End Hero Section -->

<main id="main" data-aos="fade" data-aos-delay="1500">

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
        <div class="container-fluid">

            <div class="row gy-4 justify-content-center">

                {% for j in images|slice:"0:"%}

                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="gallery-item h-100">
                        <img src=" /media/{{j.image}} " class="img-fluid" alt="" style="width: 350px; height:250px">
                        <div class="gallery-links d-flex align-items-center justify-content-center">
                            <a href="/media/{{j.image}}" title="Gallery-{{forloop.counter}}" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                            <a href="/contact/" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                    </div>
                </div>
                {%endfor%}

            </div>

        </div>
    </section>
</main>
{%endblock body%}