{%extends "base.html"%} {%block body%} {% load static %}

<main id="main" data-aos="fade" data-aos-delay="1500">

    <!-- ======= End Page Header ======= -->
    <div class="page-header d-flex align-items-center">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2>Services</h2>
                    <p>My interest in photography is not to capture an image I see or even have in my mind, but to explore the potential of moments I can only begin to imagine.</p>

                    <a class="cta-btn" href="/contact/">Available for hire</a>

                </div>
            </div>
        </div>
    </div>
    <!-- End Page Header -->

    <!-- ======= Services Section ======= -->
    <form action="/category/" method="post">
        <section id="services" class="services">
            <div class="container">

                <div class="row gy-4">

                    <div class="col-xl-3 col-md-6 d-flex">
                        <div class="service-item position-relative">
                            <i class="bi bi-activity"></i>

                            <h4>Engagement</h4>

                            <p>We are offering Engagement Shoot at adorable pricing and gives amazing experience to user, go Gallery to see some picture capture by me</p>
                        </div>
                    </div>
                    <!-- End Service Item -->

                    <div class="col-xl-3 col-md-6 d-flex">
                        <div class="service-item position-relative">
                            <i class="bi bi-bounding-box-circles"></i>

                            <h4 style="color: antiquewhite;">Haldi</h4>

                            <p>We are offering Haldi Shoot at adorable pricing and gives amazing experience to user, go Gallery to see some picture capture by me</p>
                        </div>
                    </div>
                    <!-- End Service Item -->

                    <div class="col-xl-3 col-md-6 d-flex">
                        <div class="service-item position-relative">
                            <i class="bi bi-calendar4-week"></i>

                            <h4 style="color: antiquewhite;">Wedding</h4>

                            <p>We are offering Wedding Shoot at adorable pricing and gives amazing experience to user, go Gallery to see some picture capture by me</p>
                        </div>
                    </div>
                    <!-- End Service Item -->

                    <div class="col-xl-3 col-md-6 d-flex">
                        <div class="service-item position-relative">
                            <i class="bi bi-broadcast"></i>


                            <h4>Pre-wedding</h4>

                            <p>We are offering Pre-wedding Shoot at adorable pricing and gives amazing experience to user, go Gallery to see some picture capture by me</p>
                        </div>
                    </div>
                    <!-- End Service Item -->

                </div>

            </div>
        </section>
    </form>
    <!-- End Services Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
        <div class="container">

            <div class="section-header">
                <h2>Prices</h2>
                <p>Check my adorable pricing</p>
            </div>

            <div class="row gy-4 gx-lg-5">

                <div class="col-lg-6">
                    <div class="pricing-item d-flex justify-content-between">
                        <h3>Engagements Photography</h3>
                        <h4>$160.00</h4>
                    </div>
                </div>
                <!-- End Pricing Item -->

                <div class="col-lg-6">
                    <div class="pricing-item d-flex justify-content-between">
                        <h3>Haldi Photography</h3>
                        <h4>$300.00</h4>
                    </div>
                </div>
                <!-- End Pricing Item -->

                <div class="col-lg-6">
                    <div class="pricing-item d-flex justify-content-between">
                        <h3>Modelling Photoshoot</h3>
                        <h4>$200.00</h4>
                    </div>
                </div>
                <!-- End Pricing Item -->

                <div class="col-lg-6">
                    <div class="pricing-item d-flex justify-content-between">
                        <h3>videography📽️</h3>
                        <h4>$120.00</h4>
                    </div>
                </div>
                <!-- End Pricing Item -->

                <div class="col-lg-6">
                    <div class="pricing-item d-flex justify-content-between">
                        <h3>Wedding Photography</h3>
                        <h4>$500.00</h4>
                    </div>
                </div>
                <!-- End Pricing Item -->

                <div class="col-lg-6">
                    <div class="pricing-item d-flex justify-content-between">
                        <h3>Pre-wedding photoshoot</h3>
                        <h4>$200.00</h4>
                    </div>
                </div>
                <!-- End Pricing Item -->

            </div>
    </section>
    <!-- End Pricing Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
        <div class="container">

            <div class="section-header">
                <h2>Testimonials</h2>
                <p>What they are saying</p>
            </div>

            <div class="slides-3 swiper">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <div class="stars">
                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                            </div>
                            <p>
                                Photographer 🫂 Pre wedding photoshoot, 🎺 Weddings , 💍engagements Photography📸 , videography📽️, Modelling Photoshoot 📸📸.....
                            </p>
                            <div class="profile mt-auto">
                                <img src="{%static 'assets/img/testimonials/testimonials-1.png'%}" class="testimonial-img" alt="">
                                <h3>Dnyaneshwar Pandhare</h3>
                                <h4>Owner</h4>
                            </div>
                        </div>
                    </div>


                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <div class="stars">
                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                            </div>
                            <p>
                                It's a Good website for giving Information about Dnyaneshwar Store And Dnyaneshwar is Nice Photographer captured Nice picture in 🫂 Pre-wedding photoshoot, 🎺 Weddings, 💍engagements Photography📸 , videography📽️ Modelling Photoshoot 📸📸
                            </p>
                            <div class="profile mt-auto">
                                <img src="{%static 'assets/img/testimonials/testimonials-3.jpg'%}" class="testimonial-img" alt="">
                                <h3>Rohan patil</h3>
                                <h4>User</h4>
                            </div>
                        </div>
                    </div>
                    <!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <div class="stars">
                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                            </div>
                            <p>
                                It's Amazing website to use and Well responsible. Dnyaneshwar has a good photographer and he was give me a quick respon when me contact them
                            </p>
                            <div class="profile mt-auto">
                                <img src="{%static 'assets/img/testimonials/testimonials.png'%}" class="testimonial-img" alt="">
                                <h3>Navraj</h3>
                                <h4>User</h4>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section>
    <!-- End Testimonials Section -->

</main>
<!-- End #main -->
{%endblock%}